.about_wrapper {
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: $--color-background;
    color: $--color-sub-text-gray-highlight;

    .work_wrapper,
    .skill_wrapper {
        padding: 2em 0;
        max-width: 900px;
        margin: auto;

        h2 {
            font-weight: bolder;
        }

        .work_second {
            padding: .7em 1.2em;
            color: $--color-work-from-to;
        }

        .right {
            text-align: right;
        }
    }
}

.skill_wrapper {
    .someText {
        padding: 1em 0 0 0;
        color: $--color-work-from-to;
    }
    .skill_wrapper_skills{
        padding: 1em 0;
        .skill{
            padding: .2rem 0;
        }        
    }
}