.navigation_wrapper__color {
    width: 100%;
    height: 3px;
    background: rgb(121, 9, 100);
    background: linear-gradient(-45deg, #EE7752, #e73c7e, #23A6d5, #23D5AB);
    background-size: 400% 480%;
    position: fixed;
    top: 0;
    animation: grad 6s ease-in-out infinite;
}

//home
.home_wrapper {
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: $--color-background;

    .warning{
        position: absolute;
        bottom: 0;
        background-color: rgb(188, 188, 4);
        font-weight: bolder;
    }

    .home_wrapper__conatainer {
        max-width: 55rem;
        height: 100%;
        margin: auto;

        .home_wrapper__header {
            color: $--color-main-text-gray;
            font-family: 'monolisa bold';
            font-weight: bolder;
            font-size: 1.5rem;
            padding-top: 5%;
        }

        .home_wrapper__introtext {
            padding: 2em 0 0 0;
            color: $--color-sub-text-gray;

            div {
                padding: 1em 0;
                line-height: 2.5;
            }
        }

        .home_wrapper_contact {
            margin-top: 1em;
            display: flex;
            align-items: center;
            gap: 2em;

            .home_wrapper_contact__links {
                display: flex;
                gap: 1.5em;

                a {
                    svg {
                        width: 28px;
                    }
                }
            }

            .home_wrapper_contact__email {
                a {
                    color: $--color-sub-text-gray-highlight;
                    background-color: $--color-nav-border-bottom;
                    text-decoration: none;
                    padding: .7em 1.5em;
                    border-radius: 8vmax;
                }
            }
        }
    }
}

@keyframes grad {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}