@font-face {
    font-family: 'monolisa';
    src: url('../fonts/MonoLisa/MonoLisa-Regular.otf');
}


@font-face {
    font-family: 'monolisa bold';
    src: url('../fonts/MonoLisa/MonoLisa-Bold.otf');
}

//colors
$--color-background: #111111;
$--color-sub-text-gray:#b1b1b1;
$--color-main-text-gray:#eaeaea;
$--color-sub-text-gray-highlight:#d9d9d9;
$--color-nav-link-background:#2e2e2e;
$--color-nav-link-text:#f6f6f6;
$--color-nav-border-bottom:#242424;